.sidebar{
     border-right: 0.5px solid lightgray;
     min-height: 100vh;
     background-color: white;

    
    flex: 1;
    .top{
        height: 50px;
        
        display: flex;
        align-items: center;
        justify-content: center;
 
        .logo{
           font-size:20px ;
           font-weight: bold;
           color: purple;
        }

    }
    hr{
        height: 0;
        border: 0.5px solid lightgray;

    }
  
    .center{
        padding-left: 10px;

        ul{
            list-style: none;
            padding: 0;
            margin: 0;

            p{
                color: black;
               
            }
            .title{
                font-size: 10px;
                font-weight: bold;
                margin-top: 15px;
                margin-bottom: 5px;
            }
          li{
            display: flex;
            align-items: center;
            padding: 5px;
            cursor: pointer;

            &:hover{
                background-color: rgb(199, 165, 199);
            }
          }
          .icon{
            font-size: 18px;
            color: #7451f8;
          }
          span{
            font-size: 13px;
            font-weight: 600;
            color: rgb(85, 78, 78);
          }
        }
    }

    .bottom{
        display: flex;
        align-items: center;
        margin: 10px;
     
        .colorOption{
            height: 20px;
            width: 20px;
            border-radius: 5px;
            border: 1px solid #7451f8;
            cursor: pointer;
            margin: 5px;

            &:nth-child(1){
                background-color: white;

            }
            &:nth-child(2){
                background-color: #333;
                
            }
            &:nth-child(3){
                background-color: darkblue;
                
            }
        }
    }

}