.table{


    .tableCell{


        .cellWrapper{

            display: flex;
            align-items: center;
           

            .image{
                width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 5px;
            }
    
        }

        .status{
            padding: 5px;
            border-radius: 10px;

            &.Approved{
               color: green;
               background-color: rgba(0, 128, 0, 0.171);
            }
            &.Pending{
                color: rgb(247, 232, 21);
                background-color: rgba(255, 255, 0, 0.192);

            }
        }
    }
   
}