.dataTable{
    height: 400px;
    width: 100%;
    
    .datatableTitle{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 5px;

        .link{
            color: green;
            font-weight: 400;
            border: 1px solid green;
            border-radius: 5px;
            padding: 5px;
            cursor: pointer;
        }
    }

    .cellWithImg{
         display: flex;
         align-items: center;
         

        .cellImg{
            height: 32px;
            width: 32px;
            border-radius: 50%;
            object-fit: cover;
           margin-right: 10px;

           
        }
    }
    .cellWithStatus{

        padding: 5px;
        border-radius: 5px;

        &.active{
             color: green;
             background-color: rgba(0, 128, 0, 0.185);
        }
        &.pending{
            color: rgb(252, 215, 6);
            background-color: rgba(221, 224, 37, 0.137);
       }

       &.passive{
        color: red;
        background-color: rgba(255, 0, 0, 0.103);
       }


    }

    .cellAction{
        display: flex;
        align-items: center;
        gap: 15px;


        .viewButton{
        
            padding: 2px 5px;
            border-radius:5px ;
            color: blue;
            border: 1px solid rgba(0, 0, 255, 0.322);
            cursor: pointer;
        }
        .deleteButton{
            padding: 2px 5px;
            border-radius:5px ;
            color: crimson;
            border: 1px solid rgba(255, 0, 0, 0.301);
            cursor: pointer;
        }
        
        

    }

}